@import "ink.less";

@main-nav-bg: rgb(27,27,27);
@main-nav-color: rgb(84,185,72);

@font-face {
    font-family: 'museosans-100';
    src: url('../font/museosans-100.eot');
    src: url('../font/museosans-100.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-100.woff') format('woff'),
         url('../font/museosans-100.ttf') format('truetype'),
         url('../font/museosans-100.svg#museosans100') format('svg');
}

@font-face {
    font-family: 'museosans-100-italic';
    src: url('../font/museosans-100-italic.eot');
    src: url('../font/museosans-100-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-100-italic.woff') format('woff'),
         url('../font/museosans-100-italic.ttf') format('truetype'),
         url('../font/museosans-100-italic.svg#museosans100') format('svg');
}

@font-face {
    font-family: 'museosans-300';
    src: url('../font/museosans-300.eot');
    src: url('../font/museosans-300.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-300.woff') format('woff'),
         url('../font/museosans-300.ttf') format('truetype'),
         url('../font/museosans-300.svg#museosans300') format('svg');
}

@font-face {
    font-family: 'museosans-300-italic';
    src: url('../font/museosans-300-italic.eot');
    src: url('../font/museosans-300-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-300-italic.woff') format('woff'),
         url('../font/museosans-300-italic.ttf') format('truetype'),
         url('../font/museosans-300-italic.svg#museosans500') format('svg');
}

@font-face {
    font-family: 'museosans-500';
    src: url('../font/museosans-500.eot');
    src: url('../font/museosans-500.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-500.woff') format('woff'),
         url('../font/museosans-500.ttf') format('truetype'),
         url('../font/museosans-500.svg#museosans500') format('svg');
}

@font-face {
    font-family: 'museosans-500-italic';
    src: url('../font/museosans-500-italic.eot');
    src: url('../font/museosans-500-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-500-italic.woff') format('woff'),
         url('../font/museosans-500-italic.ttf') format('truetype'),
         url('../font/museosans-500-italic.svg#museosans500') format('svg');
}

@font-face {
    font-family: 'museosans-700';
    src: url('../font/museosans-700.eot');
    src: url('../font/museosans-700.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-700.woff') format('woff'),
         url('../font/museosans-700.ttf') format('truetype'),
         url('../font/museosans-700.svg#museosans700') format('svg');
}

@font-face {
    font-family: 'museosans-700-italic';
    src: url('../font/museosans-700-italic.eot');
    src: url('../font/museosans-700-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-700-italic.woff') format('woff'),
         url('../font/museosans-700-italic.ttf') format('truetype'),
         url('../font/museosans-700-italic.svg#museosans700') format('svg');
}

@font-face {
    font-family: 'museosans-900';
    src: url('../font/museosans-900.eot');
    src: url('../font/museosans-900.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-900.woff') format('woff'),
         url('../font/museosans-900.ttf') format('truetype'),
         url('../font/museosans-900.svg#museosans900') format('svg');
}

@font-face {
    font-family: 'museosans-900-italic';
    src: url('../font/museosans-900-italic.eot');
    src: url('../font/museosans-900-italic.eot?#iefix') format('embedded-opentype'),
         url('../font/museosans-900-italic.woff') format('woff'),
         url('../font/museosans-900-italic.ttf') format('truetype'),
         url('../font/museosans-900-italic.svg#museosans900') format('svg');
}

.fw-regular {
  font-family: "museosans-500";
}
.fw-thin {
  font-family: "museosans-300";
}
.fw-light {
  font-family: "museosans-100";
}

body {
  .fw-light;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.snap-content {
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  background: @main-nav-bg;
  ul {
    li {
      a {
        color: @main-nav-color;
        text-transform: uppercase;
        border-bottom: 1px white solid;
      }
    }
  }
}

.snap-drawer {
  background: @main-nav-bg;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

header {
  .topbar {
    background: @main-nav-bg;
    nav#main-nav, nav#main-nav-mobile {
      a {
        color: @main-nav-color;
        text-transform: uppercase;
      }
    }
  } 
}

/* LARGE SCREENS */
@media screen and (min-width: 960px) {
    /* your css goes here */
}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
    /* your css goes here */
}

/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  header {
    .topbar {
      // position: fixed;
      // width: 100%;
      // top: 0;
      // left: 0;
      // right: 0;
    }
  }
}