@import "ink.less";
@import "drawer.less";
@import "museo-sans.less";

@main-nav-bg: rgb(27,27,27);
@black: rgb(27,27,27);
@main-nav-color: rgb(84,185,72);
@white: rgb(255,255,255);
@green: rgb(84,185,72);
@yellow: rgb(229,190,33);
@red: rgb(195,18,40);
@orange: rgb(227,117,55);

.rotate() {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fw-regular {
  font-family: "museosans-500";
}
.fw-thin {
  font-family: "museosans-300";
}
.fw-light {
  font-family: "museosans-100";
}

body {
  .fw-thin;
  color: @black;
  font-size: 16px;
 }

.topbar {
    background: @main-nav-bg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

#main-nav, 
#main-nav-mobile,
#side-nav {
  a {
    color: @main-nav-color;
    text-transform: uppercase;
    &:hover {
      color: @white;
      text-decoration: none;
    }
  }
}

#side-nav {
  h1 {
    font-size: 1.8em;
    padding: 0.5em 0.6em;
    color: @white;
    span.tagline {
      font-size: 0.45em;
      margin-left: 0.1em;
      .rotate;
    }
  }
}

#main-nav {
  li {
    a {
      &:first-child {
        padding-left: 0;
      }
    }
  }
}

section {
  &#about { background: @green; }
  &#speakers { background: @yellow; }
  &#venues { background: @orange; }
  // &#past-edition { background: ; }
  // &#blog { background: ; }
}

/* LARGE SCREENS */
@media screen and (min-width: 960px) {

}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
    /* your css goes here */
}

/* SMALL SCREENS */
@media screen and (max-width: 649px) {

}