@import "ink.less";
@import "drawer.less";
@import "museo-sans.less";


@main-nav-bg: rgb(27,27,27);
@black: rgb(27,27,27);
@main-nav-color: rgb(84,185,72);
@white: rgb(255,255,255);
@green: rgb(84,185,72);
@yellow: rgb(229,190,33);
@red: rgb(195,18,40);
@orange: rgb(227,117,55);

.rotate() {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);

  /* also accepts left, right, top, bottom coordinates; not required, but a good idea for styling */
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  /* Should be unset in IE9+ I think. */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.fw-black {
  font-family: "museosans-900";
}
.fw-bold {
  font-family: "museosans-700";
}
.fw-regular {
  font-family: "museosans-500";
}
.fw-thin {
  font-family: "museosans-300";
}
.fw-light {
  font-family: "museosans-100";
}
.white-txt {
  color: @white;
}
.large-txt {
  font-size: 1.3em;
}

body {
  .fw-thin;
  color: @black;
  background: @black;
  font-size: 18px;
 }

 .logo {
  &.bordered {
    border-top: 4px black solid;
    border-bottom: 4px black solid;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
  }
}

.header-bot, .header-bubble {
    margin-bottom: -1.3em !important; 
  z-index: 100; 
  position: relative;
}

#main-toggler, #user-toggler {
  line-height: @navigation-line-height;
  background: none;
  border: none;
  color: @green;
  outline: transparent;
}

#main-toggler {
  padding: @navigation-padding;
  padding-left: 0;
}

#user-toggler {
  padding: @navigation-padding;
  padding-right: 0;
  line-height: @navigation-line-height;
}

.snap-drawers {
  .snap-drawer.snap-drawer-left {

  }
  .snap-drawer.snap-drawer-right {
    
  }
}

.topbar {
    background: @main-nav-bg;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .ink-navigation {
      ul.menu li {
          h1 {
            font-size: 1.8em;
            margin-right: 0.5em;

          a {
            color: @white;
            line-height: 1.5 !important;
            padding: 0;
            margin: 0;
            &:hover {
              color: @red;
            }
          }
          
          span.tagline {
            .fw-light;
            font-size: 0.45em;
            margin-left: 0.1em;
          }
        }
      }
    }
}

.cb-nav {
  a {
    color: @main-nav-color;
    text-transform: uppercase;
    &:hover {
      color: @white;
      text-decoration: none;
    }
  }
}

#side-nav {
  h1 {
    font-size: 1.8em;
    padding: 0.5em 0.6em;
    color: @white;
    span.tagline {
      .fw-light;
      font-size: 0.45em;
      margin-left: 0.1em;
    }
  }
}

#main-nav {
  li {
      a {
        padding-left: 0;
      }
    a {
      i.icon-chevron-down {
        margin-left: 0.4em;
      }
    }
  }
  ul.submenu {
    min-width: 12em;
    top: 2.6em;
    right: 0;
    left: auto;
    li {
      background: @black;
      a {
        border-bottom: 1px solid rgba(255,255,255, 0.1);
        padding: @navigation-padding;
        &:hover {
          background: none;
        }
      }
    }
  }
}

section, div {
  &#intro { background: @green; }
  &#about { background: @yellow;  }
  &#speakers { background: @red; color: @white; a { color: @white; } }
  &#venues { background: @orange; h1 { color: @white;} }
  &#past-editions { background: @white;  }
  &#blog { background: @white; }
}

form.login {
  padding: 1em 1em 0 1em ; 
  font-size: 1em;
  color: white;
  label {
    color: @green;
    text-transform: uppercase;
  }
  .control-group {
    margin-bottom: 0;
    .cb-button {
      width: 100%;

    }
  }
}

.cb-button {
  padding: 1em 1.5em;
  #ink > #border-radius > .all (3px);
  border:none;
  &.huge {
    font-size: 1.5em;
  }
  &.large {
    font-size: 1.2em;
  }
  &.small {
    font-size: 0.9em;
  }
  &.tiny {
    font-size: 0.75em;
  }

  &.white {
    background: @white;
    color: @green;
    &:hover {
      #ink > #shadows > .box-shadow (0px,0px,4px,1px,fade(darken(@green,30%),50%));    
      text-decoration: none;
    }
  }
}

div.speaker-avatar {
  position: relative;
  overflow: hidden;
  img {
    #ink > #border-radius > .all (50% 50%);
    #ink > #shadows > .box-shadow (0px,-2px,4px,1px,fade(darken(@red,60%),50%),inset);    

    border: 15px @white solid;
    &:hover {
      #ink > #shadows > .box-shadow (0px,0px,4px,1px,fade(darken(@red,60%),50%));    
      text-decoration: none;      
    }
  }
}

div.speaker-info {
      display: table;
    .tr {
      display: table-row;
      .td {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

section {
  h1 {
    text-transform: uppercase;
    font-size: 1.9em;
  }
  h2 {
    text-transform: uppercase;  
    font-size: 1em;
    & + p {
      margin-top: 0.4em !important;
    }
  }
  p {
    & + p {
      margin-top: 0.4em !important;
    }
  }
}

.faded-border {
  
}

/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  .snap-content {
    margin-top: 2.5em;
  }
}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
 .snap-content {
    margin-top: 2.5em;
  }
  .medium-border-bottom {
    border-bottom: 1px fade(@black,20%) solid;  
  }
  .logo {
    &.bordered {
      border-top-width: 3px;
      border-bottom-width: 3px;
    }
  }
}

/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  .snap-content {
    margin-top: 2.5em;
  }
  .small-border-bottom {
    border-bottom: 1px fade(@black,20%) solid;  
  }
  .logo {
    &.bordered {
      border-top-width: 3px;
      border-bottom-width: 3px;
    }
  }
}